body {
    background-color: black;
}

/*Start Navigation Style*/
#nav ul {
    list-style-type: none;
    font-family: monospace;
    font-weight: bold;
    margin: 0;
    padding: 10px;
    overflow: hidden;
    background-color: black;
    position: sticky;
    top: 0;
    width: 100%;
}

#nav li a {
    float: left;
}

#nav li a {
    display: block;
    color: floralwhite;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
    font-size: 110%;

}

#nav li a:hover {
    background-color: lightgrey;
}

/*End Navigation Style*/

/*Start Standard ul Style*/
ul {
    list-style: disc;
    font-family: "Courier New";
    font-size: 95%;
    color: ghostwhite;
    margin-left: 50px;
    padding-bottom: 15px;
}

li {
    list-style-position: outside
}

/*End Standard ul Style*/

p {
    font-family: "Courier New";
    font-size: 95%;
    color: ghostwhite;
    margin-left: 20px;
    margin-right: 20px;
    line-height: normal;
    padding-bottom: 15px;
}

h1 {
    font-family: monospace;
    font-weight: bolder;
    letter-spacing: 10px;
    color: floralwhite;
    text-align: center;
    font-size: 1500%;
}

h2 {
    font-family: monospace;
    font-weight: bold;
    letter-spacing: 5px;
    color: whitesmoke;
    text-align: center;
    font-size: 600%;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 30px;
}

h3 {
    font-family: monospace;
    font-weight: bold;
    color: ghostwhite;
    text-align: left;
    font-size: 150%;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 15px;
}

/*Robin Boyd Image Float*/
.rb {
    float: right;
    margin-left: 20px;
    margin-right: 20px;
    height: 55%;
    width: 55%
}

/*start gallery style*/
.gallery {
    margin-left: 100px;
    margin-right: 30px;
}

.gallery img {
    padding: 10px;
    width: 250px;
    height: 250px;
}

.gallery img:hover {
    filter: none;
    transform: scale(2);
}

/*end gallery style*/

footer {
    font-family: monospace;
    font-weight: bold;
    color: floralwhite;
    text-align: center;
    font-size: 0.8em;
    padding-bottom: 15px;
}

/*University of Canberra Hyperlink Style*/
a:link {
    color: skyblue;
}
